<body class="bg">
        
   
  <div class="container.fluid">
     
      
      <div class="row">
          <div class="col-md-12 heading text-center mt-5 heading">
          Quick Draw Recognizer

          </div>
      </div>
          
             <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-1"></div>
              <div class="col-md-1"></div>
              <div class="col-md-1"></div>
              <div class="col-md-4 mainbutton mt-5 p-3 shadow  " routerlink="/dataset" style ="cursor:pointer">create dataset</div>
          </div>
         
          <div class="row">
            
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-4 mainbutton mt-5 p-3 shadow" style="cursor:pointer" routerlink="/play">play</div>
            </div>
        
        </div>  
    
</body>
<router-outlet></router-outlet>
